/* Div контейнера для товаров */
.goods-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    width: 80%;
  }
  
  /* Div товара */
  .goods-item {
    width: 24%;
    height: auto;
    text-align: left;
    border: 2px solid rgba(128, 128, 128, 0.061); 
    border-radius: 5px;
    margin-bottom: 1%;
    margin-left: 1%;
    box-sizing: border-box;
  }
  
  /* Div изображения товара */
  .goods-item-image {
    height: 50%;
  }

  .goods-item-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  /* Div названия товара */
  .goods-item-name {
    height: 20%;
    font-size: 16px;
  }
  
  /* Div цены товара */
  .goods-item-price {
    height: 10%;
    color:rgb(255, 0, 0);
    font-weight: bold;
    font-size: 18px;
  }

  /* Ссылки на товар */
  .goods-item a {
    text-decoration: none;
    color: royalblue;
  }

  /* Выделение при наведении */
  .goods-item:hover {
    box-shadow: 0 0 5px gray;
  }
  
  /* Для маленьких экранов */
  @media screen and (max-width: 1025px) {
    .goods-item-name {
      font-size: 10px;
    }
    .goods-item-price {
      font-size: 14px;
    }
  }
  @media screen and (max-width: 810px) {
    .goods-item-name {
      font-size: 8px;
    }
    .goods-item-price {
      font-size: 12px;
    }
  }
